# Dependencies
node_modules/

# Dev tools & config
_tools/
certs/
.env
.zsh_session_env

# Generated / runtime & build outputs
dist/
.idea/
.gradle/
*.log
.DS_Store
.ag2r-telemetry-id
vapid-keys.json
